.gallery {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.gallery > div {
    display: inline-block;
    padding: 2px 3px;
}

.gallery > div > img {
    max-height: 350px;
    width: auto;
}